<nav>
    <ul>
        {% if session.get('usuario_id') %}
            {% if session.get('tipo') == 'estudiante' or session.get('tipo') == 'empresa' %}
                <li><a href="{% if session.get('tipo') == 'empresa' %}{{ url_for('inicio_estudiante') }}{% elif session.get('tipo') == 'estudiante' %}{{ url_for('inicio_estudiante') }}{% endif %}">Buscar</a></li>
            {% endif %}

            {% if session.get('tipo') == 'empresa' and session.get('estado') == 'aprobada' %}
                <li><a href="{{ url_for('ver_estudiantes') }}">Estudiantes</a></li>
            {% endif %}

            {% if session.get('tipo') == 'admin' %}
                <li><a href="{{ url_for('inicio_admin') }}">Administrar</a></li>
            {% elif session.get('tipo') == 'empresa' %}
                <li><a href="{{ url_for('inicio_empresa') }}">Empresa</a></li>
            {% endif %}

            <li><a href="javascript:void(0);" onclick="togglePerfilPanel()">Mi perfil</a></li>
            <li><a href="{{ url_for('logout') }}">Cerrar Sesión</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Iniciar Sesión</a></li>
            <li><a href="{{ url_for('registro') }}">Registrarse</a></li>
        {% endif %}
    </ul>
</nav>
