{% extends "base.html" %}
{% block title %}Editar Tutoría - Aspire{% endblock %}

{% block content %}

    <div class="container flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <main class="form-section">
        <h2>Editar Tutoría</h2>

        <form method="POST" class="form-edit-profile">

            <label for="titulo">Título</label>
            <input type="text" id="titulo" name="titulo" value="{{ tutoría[0] }}" required>

            <label for="descripcion">Descripción</label>
            <textarea id="descripcion" name="descripcion" rows="5" required>{{ tutoría[1] }}</textarea>

            <button type="submit" class="btn-primary btn-large">Actualizar Tutoría</button>
            <div style="text-align:center; margin-top:20px;">
                <button onclick="history.back()" class="btn-primary btn-large">Volver</button>
            </div>
        </form>
    </main>

{% endblock %}
