{% extends "base.html" %}
{% block title %}Perfil Empresa - Aspire{% endblock %}

{% block content %}
<div class="perfil-main-container">
    <div class="perfil-card">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo Empresa" class="perfil-avatar">
        <h2>{{ perfil[2] or perfil[0] }}</h2><br>
        <p><strong>Correo:</strong> {{ perfil[1] }}</p>
        <a href="{{ url_for('editar_perfil_empresa') }}" class="btn-primary btn-large">Editar Perfil</a>
    </div>

    <div class="perfil-acciones">
        <h3>Acciones rápidas</h3>
        <div class="cards">
            <div class="card">
                <h4>Agregar Oferta</h4>
                <p>Publica nuevas ofertas de empleo para estudiantes.</p><br>
                <a href="{{ url_for('agregar_oferta') }}" class="btn-secondary">Agregar Oferta</a>
            </div>
            <div class="card">
                <h4>Ver Estudiantes</h4>
                <p>Encuentra estudiantes disponibles según tu necesidad.</p><br>
                <a href="{{ url_for('ver_estudiantes') }}" class="btn-secondary">Ver Estudiantes</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}