{% extends "base.html" %}

{% block content %}
<section class="content-section" style="max-width:900px;margin:auto;">

    <h2 class="titulo">Ofertas Publicadas</h2>

    {% if ofertas%}
    <div class="oferta-post">
    {% for oferta in ofertas %}
        <div class="oferta-header">
            <strong class="empresa-nombre">{{ oferta[1] }}</strong>
            <span class="fecha">{{ oferta[4] }}</span>
        </div>

        <h3 class="oferta-titulo">{{ oferta[2] }}</h3>

        <p class="oferta-descripcion">
            {{ oferta[3] }}
        </p>

        {% if session['tipo'] == 'empresa' %}
        <div class="oferta-acciones">
            <a href="{{ url_for('editar_oferta', id=oferta[0]) }}" class="btn-secondary">Editar</a>
            <a href="{{ url_for('eliminar_oferta', id=oferta[0]) }}" class="btn-danger">Eliminar</a>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    {% else %}
        <p style="text-align: center; margin:10px 10px">No existen Ofertas publicadas.</p>
    {% endif %}  
    <div style="text-align:center; margin-top:20px;">
    <button onclick="history.back()" class="btn-primary btn-large">Volver</button>
</div>  
</section>
{% endblock %}